{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block content %}

<div class="title">
  <h1>Welcome to the Music Tracker!</h1>
  <h2>One place to track all of your favorite songs!</h2>
</div>

<section class="logo-container">
  <div class="song-container">
    <img class="image-style" src="{% static 'images/music_note.jpeg' %}" alt="picture of a music score" />
  </div>
  <img src="" alt="" />
</section>

{% if not user.is_authenticated %}
  <section>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %} {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>
{% endif %}

{% endblock %}
