{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href=""/>
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>Song List</h1>
  <img src="" alt="" />
</section>

<section class="card-container">
  {% for song in songs %}
    <div class="card">
      <a href="{% url 'song-detail' song.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img
              src="{% static 'images/play_button.jpeg' %}"
              alt="headphones"
            />
          </div>
          <h2 class="card-title">{{ song.name }}</h2>
        </div>
      </a>
      <div class="card-info">
        <h3>{{ song.genre }} song</h3>
        <h3>{{ song.length }} minutes long</h4>
        <h3>published on {{ song.date }}</h3>
      </div>
    </div>
  {% endfor %}
</section>

<input type=button value="Previous Page" onClick="javascript:history.go(-1);">

{% endblock %}
